*.umi
.env*
.eslintcache
.eslintignore
.eslintignore.*
.gitignore
.prettierignore
.prettierignore.*
.env*
.npmrc
Dockerfile*
.dockerignore
*.svg
*.png
*.jpg
*.gif
*.toml
*.lock
*.json
*.hbs
*.ejs
*.json.gz
package.json
package-lock.json
.editorconfig
.idea
.DS_Store
LICENSE
yarn-error.log
*.sh
*.ico
.husky
*.txt
*.log
.gitkeep
